*{
    margin: 0;
    border: 0;
}
body{
    font-family: "Epilogue", sans-serif;
}
.header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    position: sticky;
    top: 0px;
    background-color: white;
}
.logo1{
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.logo1 img {
    max-width: 24px;
}

.logo{
    font-size: 20px;
    font-weight: 600;
}
.logo a{
    text-decoration: none;
    color: #2d2d2d;
}
.menu ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 400;
}
.bg1{
    width: 100%;
    display: flex;
    justify-content: center;
}
.childbg1{
    max-width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 1.75rem;
}
.left{
    max-width: 34rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.left h2{
    font-size: 20px;
    font-weight: 600;
    color: #2d2d2d;
    line-height: 30px;
}
.left h1{
    font-size: 80px;
    font-weight: 600;
    color: #2d2d2d;
    line-height: 90px;
}
.left p{
    font-size: 17px;
    font-weight: 400;
    color: #2d2d2d;
}
.right{
    max-width: 31rem;
}
.menu a.active{
    text-decoration: underline;
}

/* video{
    max-width: 31rem;
} */
.bg2{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.bg2 h2{
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    color: #2d2d2d;
}
.letest{
    padding-top: 50px;
    padding-bottom: 10px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.up{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.down{
    display: none;
    /* display: flex;
    gap: 50px;
    justify-content: center; */
}
.one,.two,.forth,.fifth,.sixth{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.one img{
    width: 200px;
    transition: 0.3s;
}
.one img:hover{
    transform: scale(1.1);
}
.two img{
    width: 224px;
    transition: 0.2s;
}
.two img:hover{
    transform: scale(0.9);
}
.three{
    display: none;
}
h3{
font-size: 20px;
font-weight: 600;
line-height: 30px;
color: #2d2d2d;
}
h5{
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    color: #2d2d2d;
}
.third{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid;
    border-block-color: #00000033;
    max-width: 70rem;
    gap: 100px;
}
.third .footer .left{
    max-width: 40%;
}
.first{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.first h2{
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
}
.first p{
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
}
.icons{
    margin-top: 40px;
    width: 232;
    height: 36px;
}
.icons img{
    max-width: 35px;
}
.third .footer .right{ 
    max-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.info input{
    width: 100%;
    padding: 21px 30px 21px 30px;
    background-color:#F3F3F3;
    font-family: "Epilogue", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #2d2d2d;
}
textarea{
    resize: none;
    width: 100%;
    padding: 21px 30px 21px 30px;
    background-color:#F3F3F3;
    font-family: "Epilogue", sans-serif;
    font-size: 17px;
    font-weight: 400;
}
.btn{
    padding: 25px 82px 25px 82px;
    background-color: #2d2d1d;
    color: white;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 60px;
}
/* @media (min-width:200px) and (max-width:400px){
    .childbg1{
        flex-direction: column;
    }
} */
@media only screen and (max-width:600px){
    .childbg1{
        flex-direction: column;
    }
    .up{
        flex-direction: column;
    }
    .down{
        flex-direction: column;
    }
    .footer{
        flex-direction: column;
    }
}
@media only screen and (max-width:768px){
    .childbg1{
        flex-direction: column;
    }
    .up{
        flex-direction: column;
    }
    .down{
        flex-direction: column;
    }
    .footer{
        flex-direction: column;
    }
}
@media only screen and (max-width:1080px){
    .childbg1{
        flex-direction: column;
    }
    .up{
        flex-direction: column;
    }
    .down{
        flex-direction: column;
    }
    .footer{
        flex-direction: column;
    }
}